body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.nav a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav a:hover {
    background-color: #0056b3;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #218838;
}

/* Style du tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff;
    color: white;
    text-align: center;
}

table td {
    text-align: center;
}

.table-container {
    overflow-x: auto; /* Pour gérer les débordements sur les petits écrans */
}

/* Style des boutons dans les actions */
.action-btn {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.action-btn:hover {
    background-color: #138496;
}

.action-btn.delete {
    background-color: #dc3545;
}

.action-btn.delete:hover {
    background-color: #c82333;
}

.action-btn.edit {
    background-color: #ffc107;
    color: black;
}

.action-btn.edit:hover {
    background-color: #e0a800;
}
